html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#mainHeading {
    /* display: flexbox; */
    background-color: tomato;
    text-align: center;
    width: 500px;
    /* height: 35px; */
    border: 10px solid;
    border-radius: 30%;
    /* margin: auto; */
    padding: 15px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: rotate(20deg); */
}

.calculatorScreen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }

/* .calculatorScreen {
    width: 410px;
    font-size: 3rem;
    height: 5%;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 5px;
    margin: 1px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  } */

.calculatorKeys {
    border: 3px solid rgb(154, 49, 49);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }


.number, .operator, .special {
    cursor:pointer;
}

.number {
    background-color: #e19a3c;
    border: 10px;
    border-radius: 70%;
    font-size: 32px;
    margin: 1px;
    padding: 15px;
    text-align: center;

  }

  .operator {
    background-color: #3493a6;
    border: 10px;
    border-radius: 70%;
    font-size: 32px;
    margin: 1px;
    padding: 15px;
    text-align: center;

  }

  #point {
    background-color: #c6aaaa;
    border: 10px;
    border-radius: 70%;
    font-size: 32px;
    margin: 1px;
    padding: 15px;
    text-align: center;
  }

  .special {
    background-color: #892451;
    border: 10px;
    border-radius: 30%;
    font-size: 32px;
    margin: 1px;
    padding: 15px;
    text-align: center;
    display: flexbox;
  } 

  button:hover {
    background-color: #fdf4f4;
  }
